/*fonts*/
/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*--STYLE--*/

body {

    background-color: #fff;
    font-size: 16px;
    font-family: "MyriadProRegular", "Arial",sans-serif;
    color: #7D7D7D;

}

.layout-center-wrapper {

    position: relative;
    margin: 0px auto;
    width: 1286px;

}

.clearfix:after {
    
    content:"";
    display:table;
    clear:both;

}

.header {

        min-height:99px;

}

.menu {
  
    min-height: 99px;
    min-width: 731px;
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;

}

.menu li {

    vertical-align: baseline;
    font-size: 14px;
    display: inline-block;
    font-family: "MyriadProRegular";   

}

.menu a {

    color: #7D7D7D;
    text-decoration: none;
    display: block;
    padding: 41px 0px 2px 0;
    margin-right: 53px;
    border-bottom:2px solid #797979;
    letter-spacing:1px;

}

.main-page{

    position: relative;
    margin-left: 15px;

}

.main-page::before {

    position: absolute;
    content: "";
    width:65px;
    border-bottom: 7px solid #1515bf;
    left: -22px;
    top: 59px;
    margin-left: 20px;

}

.contact-right {
    
    margin-right: 49px;

}

.contact-right p:first-child {

    font-size: 1.56em;
    margin-top: 30px;
    padding-left: 0px;

}

.contact-right p:last-child {

    font-size: 15px;
    margin-top: -25px;
    padding-left: 37px;

}

.main-picture {

  background-size: cover;
  background:url("../img/start-pic.png") no-repeat 50% 50%;
  min-width: 1285px;
  height: 844px; 

 }

 .big-supply {

    width: 784px;
    min-height: 121px;
    float: left;
    bottom: 462px;
    left: 173px;
    position: absolute;
 }


/* Вспомогательные классы*/
.to-left {

    float: left;

}

.to-right {

    float: right;

}

.info-left {

    width: 320px;
    display: block;
    color: #fff;
    text-decoration: none;
    min-height: 120px ;
    margin-right: 5px;
    font-family: "SegoeUIRegular";

}

.info-left h1 {

    font-size: 6.375em;
    font-weight: bold;
    margin-bottom: -50px;
    margin-top: 0px;

}


.info-left p {

    font-size: 2.48em;
    letter-spacing: 1px;
    font-weight: bold;

}
.info-right {

    width: 440px;
    display: block;
    color: #fff;
    text-decoration: none;
    min-height: 122px;
    border: 5px solid white;
    font-size: 1.96em;
    padding-left: 7px;
    text-transform: uppercase;
    font-family: "SegoeUIRegular";
    font-weight: 700;
    margin-top: 25px;

}

.features {

    color:#fff;
    width: 1286px;
    padding: 0;
    margin-top: 148px;
    margin-bottom: 191px;
    list-style: none;

}


.features li {

    width:335px;
    text-align:center;
    margin-right: 140px;
    display: block;

}


.features li:first-child {

    margin-left:0;

}


.features li:last-child {

    margin-right:0;

}



.feature-inside {

    display: block;
    font-size: 15px;
    color: #878787;
    letter-spacing: 1px;
    margin-bottom: 42px;

}

.feature-image {

    background: url("../img/sprite.png") no-repeat 21% 46%;
    height: 75px;
    margin: 0 auto;
    width: 113px;

}

.hat {

    background: url("../img/sprite.png") no-repeat 39% 46%;

}

.guitar {

    background: url("../img/sprite.png") no-repeat 59% 45%;
    
}

.btn {

    width: 98px;
    background: #0e0e8a;
    color: #fff;
    line-height: 18px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 118px;
    text-decoration: none;
    height: 21px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    display: block;

}

.btn:hover {

    background: #1515bf;

}

.btn:active {

    background: #1515bf;
}



.slider {

    position: relative;
    background:#f2f2f2;
    min-width: 1286px;
    min-height: 800px;

}


.slide {

    color:#fff;
    width: 1286px;
    padding: 0;
    margin-top: 85px;
    margin-bottom: 74px;
    list-style: none;
    display: block;
    
}
 
.slide li {

    width:335px;
    text-align:center;
    margin-right: 140px;
    display: block;
    
}


.slide li:first-child {

    margin-left:0;

}


.slide li:last-child {

    margin-right:0;

}

.slide-inside {

    display: block;
    font-size: 15px;
    color: #878787;
    letter-spacing: 1px;
    margin-bottom: 42px;
    padding-top: 24px;

}

.slider-main{
  -webkit-transition: -webkit-transform .3s ;
          transition: transform .3s ;
          transition-timing-function: ease-in-out;
          transition-duration: 3s;
    width: 300%;
}


.slider-inner{
      overflow:hidden;
}

.opinion-image {

    height: 260px;
    width: 326px;
    margin: 0 auto;
    background: url("../img/face-sprite.png") no-repeat 50% 154%;
    
}

.mary {

    background-position: -6% -47%;

}

.slava {

    background-position: 105% 94%;

}



.slider-controls{
    position:absolute;
    left:50%;
    height: 26px;
    width: 80px;
    z-index:5;
    top:738px;
    background:#f2f2f2;
    text-align:center;
    margin-left:-30px;

}

.slider-controls label{
    display:inline-block;
    vertical-align:baseline; 
    width:18px;
    height:18px;
    background:white;
    cursor:pointer;
    border-radius:50%;
    border:2px solid #fff;
  
}
input[id^="btn-"]{
    display: none;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{
    background-color:#484848;
}
#btn-1:checked ~ .slider-inner .slider-main{
        -webkit-transform:translate(0);
        -ms-transform:translate(0);
            transform:translate(0);
}
#btn-2:checked ~ .slider-inner .slider-main{
    
    -webkit-transform:translate(-1286px);
        -ms-transform:translate(-1286px);
            transform:translate(-1286px);
}
#btn-3:checked ~ .slider-inner .slider-main{
   
    -webkit-transform:translate(-2572px);
        -ms-transform:translate(-2572px);
            transform:translate(-2572px);
}

.description h4 {

    text-transform: uppercase;
    color: #5f5f5f;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;

}

.description p {

    color: #767676;
    font-size: 14.45px;
    margin-top: -21px;
    margin-bottom: 43px;

}

.description {
    position: relative;
}
.description::after{

    position: absolute;
    content: "";
    background: url("../img/pointer.png") no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    top: 67px;

}

.opinions h3 {

    text-transform: uppercase;
    color: #787878;
    font-size: 1.6875em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    font-family: "SegoeUIRegular";
    margin-bottom: 13px;

}

.opinions p {

    font-size: 15px;
    color: #787878;
    text-align: center;
    padding-left: 486px;
    padding-right: 479px;
    margin-bottom: 1px;


}

.guitar-big {

    background-size: cover;
    background:url("../img/guitar-picture.jpg") no-repeat 50% 50%;
    min-width: 1285px;
    height: 422px;
    /*position: relative;*/

}

.descripton-guitar {

    border: 3px solid #fff;
    position: absolute;
    height: 226px;
    width: 816px;
    top: -320px;;

}

.descripton-guitar h5{
    color: #fff;
    font-size: 2.4em;
    margin-top: 35px;
    text-align: center;

}

.layout-center-wrapper-small {

    width: 820px;
    margin: 0 auto;
    position: relative;

}


.author {

    outline: 2px dotted green;
    min-height: 850px;
    margin-top: 115px;
    /*margin-bottom: 146px;*/


}

.author-description {

    min-height: 290px;

}

.author-name {

    font-size: 1.5em;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
}

.author-photo-bg {

    margin-left:333px;
    margin-bottom:22px;
    
}

.author-features {

    min-height: 163px;
    outline: 2px dotted blue;
}

.number {

    width: 85px;
    height: 80px;
    text-align: center;
    border: 4px solid #ececec;

}

.number p {

    font-size: 3.125em;
    color: #454545;
    margin-top: -3px;
    margin-bottom: -4px;

}

.author-features-numbers {

    display: inline-block;

}

.number-text {

    font-size: 14px;
    color: #1e1e1e;
    padding-right: 33px;
}

.author-features-wrapper {
    width: 125px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
    text-align: center;
    margin-left: 0px;
}

.number-text:last-child {
    padding-left: -2px;
}

.author-features-wrapper:last-child {
    
    margin-right: 0;
}

.author-features-wrapper:first-child {

    margin-left: 26px;

}

.author-phone {

    outline: 2px dotted green;
    min-height: 185px;
    text-align: center;
    color: #7c7c7c;
}

.call {

    font-size: 2.9em;
    margin-bottom: 30px;
}

.call-number {

    font-size: 6.4em;
    margin-top: -19px;
    position: relative;
    letter-spacing: 1px;
    padding-left: 92px;

}

.call-number::before {

    content: "";
    position: absolute;
    background: url("../img/call.png");
    height: 81px;
    width: 81px;
    left:4px;
    top:20px;
    margin-right:0px;
}