{% extends "layout.html" %}
{% block body %}
      <div class="layout-center-wrapper clearfix">
        <div class="description-contacts">
            <h2>Контакты</h2>
            <p>Контактная информация для связи со мной</p>
        </div>
        <!-- Верстаем контактуную информацию -->
        <div class="contacts-text clearfix">
            <div class="contacts-column-bottom">
                <p>Вы можете позвонить по любому из указанных номеров и наши менеджеры с удовольствием ответят на все интересующие Вас вопросы.</p>
            </div>
            <div class="contacts-column-bottom">
                <p>Мы с пониманием и уважением относимся к каждому звонку и сообщению. Отправляйте свои заявки, пишите отзывы, ни одно сообщение не останется без внимания.</p>
            </div>
            <div class="contacts-column-bottom">
                <p class="contact-phone">+7 (903) 201-95-17</p>
                <p class="contact-phone">+7 (964) 624-62-62</p>
                <p class="contact-phone-description">Номер телефона для связи</p>
            </div>
            <div class="contacts-column-bottom">
                <p class="contact-email">gek-206@yandex.ru</p>
                <p class="contact-email-description">E-mail адрес для связи</p>
                <p class="contact-email music">music_t@yandex.ru</p>
                <p class="contact-email-description1">E-mail адрес для связи</p>
            </div>
        </div>
        <!-- Закрыли контактную информацию -->
        <!-- Верастем форму отправки связи -->
        <form class="contact-form" action="#" method="post">
            <div class="form-all">
                <div class="choice-form-top to-left ">
                    <div class="form-position to-left">
                        <input type="text" name="login" id="login-field" placeholder="Ваше имя" required>
                        <br>
                        <input type="tel" name="tel"  placeholder="Ваш номер телефона">
                    </div>
                    <div class="form-position to-left">
                        <input type="email" name="email" id="email-field" placeholder="Ваш e-mail">
                        <br>
                        <input type="text" name="expirience" id="expirience-field" placeholder="Ваш опыт игры на гитаре">
                    </div>
                    <div class="form-position to-left">
                        <textarea placeholder="Текст сообщения" name="text"></textarea>
                    </div>
                </div>
                <div class="description-form-top to-left "></div>
                <div class="letter-form-top to-left"></div>
            </div>
            <div class="form-all">
                <div class="choice form-bottom ">
                   <select name="cource">
                       <option value="choice">Выберите курс обучения</option>
                       <option value="base">Базовый курс</option>
                       <option value="accompaniment">Курс аккомпанемента</option>
                       <option value="electric-guitar">Проф-курс электрогитары</option>
                       <option value="virtuoso">Проф-курс для виртуозов</option>
                   </select>

                </div>
                <div class="tense form-bottom ">
                    <input type="date" name="date" id="date-field" placeholder="Выберите дату начала обучение" required>
                </div>
                <input class="submit-btn" type="submit" value="Отправить форму">
            </div>
        </form>
        <!-- Закрыли форму отправки связи -->
    </div>
    <!-- Вставляем интерактивную карту -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2315.837038755995!2d36.2571466!3d54.5187353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1444241870541" width="100%" height="533" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Открываем блок с нижней картинкой -->
    <div class="guitar-big-contacts">
        <div class="layout-center-wrapper-small clearfix">
            <!-- Открыли блок с описанием внутри картинки -->
            <div class="descripton-guitar-contacts to-left">
                <h5>А знаете ли Вы, что, шестую струну гитара получила в Испании в середине 17 столетия и струны стали одинарными. До этого же на гитаре использовалось 3 или 4 струны</h5>
            </div>
            <!--закрлыи блок с описанием внутри картинки-->
        </div>
    </div>
    <!-- Закрываем блок с нижней картинкой -->
    <!-- Блок с фотографиями и описанием автора -->
    <div class="layout-center-wrapper-small clearfix">
        <div class="author">
            <div class="author-description">
                <div class="author-photo">
                    <p class="author-name">Денис Морозов</p>
                    <div class="author-photo-bg">
                        <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                        </div>
                    </div>
                </div>
                <div class="author-text">
                    <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
                </div>
            </div>
            <div class="author-features">
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>7</p>Лет</div>
                        <div class="number-text">Доцент музыкального института</div>
                    </div>
                </div>
                <!-- Закрыли блок с фотографией и описанием автора -->
                <!-- Блок с достижениями автора -->
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>92</p>
                        </div>
                        <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>10</p>
                        </div>
                        <div class="number-text">Заслуженных наград</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>15</p>Лет</div>
                        <div class="number-text">Занимаюсь музыкой</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>100</p>Часов</div>
                        <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                    </div>
                </div>
            </div>
            <div class="author-phone">
                <p class="call">Позвоните прямо сейчас!</p>
                <p class="call-number">8-953-333-49-71</p>
            </div>
        </div>
    </div>
{% endblock %}