{% extends "layout.html" %}
{% block body %}
 <div class="layout-center-wrapper clearfix">
        <div class="description-responses">
            <h2>Отзывы моих учеников</h2>
            <p>Отзывы учеников наиболее правильно представляют картину о качестве обучения</p>
        </div>
        
       <ul class="main-responses clearfix">
            <li class="to-left">
                <div class="main-responses-image victory"></div>
                <p class="main-responses-inside">Хотела бы рассказать о своем замечательном преподавателе Денисе Морозове! Очень рада, что когда решила начать учиться играть на гитаре, выбрала именно его. Чтобы быть хорошим преподавателем, нужно быть фанатиком своего дела, и Денис именно такой...
                    <br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
            <li class="to-left">
                <div class="main-responses-image pavel"></div>
                <p class="main-responses-inside">Хочу рассказать своё впечатление о Денисе очень хороший специалист за небольшое время научил меня многому привил любовь к гитаре мы с ним стремительно идём вперёд мне он очень нравится всем его очень советую !!!!
                    <br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
            <li class="to-left">
                <div class="main-responses-image elena-nikitina"></div>
                <p class="main-responses-inside">Я видимо буду первая, кто напишет не про Дениса )) Моим преподавателем был Николай (фамилии к сожалению не знаю). Коротко - мне всё понравилось. Хорошо объясняет, строит урок в зависимости от потребностей ученика, даёт хорошие рекомендации для отработки техники, терпелив, что для преподавателя важно...
                    <br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
            <li class="to-left">
                <div class="main-responses-image svetlana"></div>
                <p class="main-responses-inside">Я тоже брала уроки у Дениса Морозова для себя, чтобы просто научиться играть. Хотелось бы отметить, что он очень терпеливый учитель и умеет объяснить даже тем ученикам, которые не имеют никаких представлений о том, как играть на гитаре...
                    <br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
            <li class="to-left">
                <div class="main-responses-image elena-makushinsya"></div>
                <p class="main-responses-inside">Всем привет) меня зовут Елена и на данный момент я играю в рок группе на электрогитаре. Всего четыре года назад для меня это было самой сокровенной мечтой, а помог мне ее осуществить мой первый и самый лучший преподаватель Денис. Нашла я его номер на одном из сайтов, мы поехали и купили мне мою первую классическую гитару)<br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
            <li class="to-left">
                <div class="main-responses-image stanislav"></div>
                <p class="main-responses-inside">Прежде чем идти учиться у кого-то чему-то, посмотрите что может учитель. Вот я видел и слышал множество раз как играет Денис, у меня даже диск есть. Как говориться найди себе дело по душе и вы не будете работать ни один день. Он не просто учит, он живет музыкой и хочет это передать ученику...
                    <br>
                    <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
            </li>
        </ul>

    </div>
    <!-- Открываем блок с нижней картинкой -->
    <div class="guitar-big-responses">
        <div class="layout-center-wrapper-small clearfix">
            <!-- Открыли блок с описанием внутри картинки -->
            <div class="descripton-guitar-responses to-left">
                <h5>А знаете ли Вы, что, Я обучаю своих учеников по современной меодике, которая прививает ученику способность обучаться самому.</h5>
            </div>
            <!--закрлыи блок с описанием внутри картинки-->
        </div>
    </div>
    <!-- Закрываем блок с нижней картинкой -->
    <!-- Блок с фотографиями и описанием автора -->
    <div class="layout-center-wrapper-small clearfix">
        <div class="author">
            <div class="author-description">
                <div class="author-photo">
                    <p class="author-name">Денис Морозов</p>
                    <div class="author-photo-bg">
                        <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                    </div>
                    </div>
                </div>
                <div class="author-text">
                    <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
                </div>
            </div>
             <div class="author-features">
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>7</p>Лет</div>
                        <div class="number-text">Доцент музыкального института</div>
                    </div>
                </div>
                <!-- Закрыли блок с фотографией и описанием автора -->
                <!-- Блок с достижениями автора -->
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>92</p>
                        </div>
                        <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>10</p>
                        </div>
                        <div class="number-text">Заслуженных наград</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>15</p>Лет</div>
                        <div class="number-text">Занимаюсь музыкой</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>100</p>Часов</div>
                        <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                    </div>
                </div>
            </div>
            <div class="author-phone">
                <p class="call">Позвоните прямо сейчас!</p>
                <p class="call-number">8-953-333-49-71</p>
            </div>
        </div>
    </div>
{% endblock %}