{% extends "layout.html" %} {% block body %}
<div class="layout-center-wrapper clearfix">
    <!--Верстаем блок с особенностями-->
    <ul class="features clearfix">
        <li class="to-left">
            <div class="feature-image clock"></div>
            <p class="feature-inside">Наш девиз - минимум затрат и максимум эффекта. Мы знаем, как научить любого ученика достичь желаемого результата за максимально короткий срок.</p>
        </li>
        <li class="to-left">
            <div class="feature-image hat"></div>
            <p class="feature-inside">Мы разработали уникальную систему образования, которой нет аналогов в нашем городе. Вы сами можете выбрать удобный для Вас курс и время обучения.</p>
        </li>
        <li class="to-left">
            <div class="feature-image guitar"></div>
            <p class="feature-inside">20% теории и 80% практики! Интересные и профессиональные преподаватели с удовольствием откроют Вам дверь в безграничный мир музыки. </p>
        </li>
    </ul>
    <!-- Закрыли блок с особенностями -->
</div>
<!-- Верстаем слайдер -->
<div class="slider">
    <div class="layout-center-wrapper clearfix">
        <div class="opinions">
            <h3>Отзывы учеников</h3>
            <p>Отзывы моих учеников помогут Вам ознакомиться с качеством моего обучения</p>
        </div>
        <input type="radio" id="btn-1" name="toggle" checked>
        <input type="radio" id="btn-2" name="toggle">
        <input type="radio" id="btn-3" name="toggle">
        <div class="slider-controls">
            <label for="btn-1"></label>
            <label for="btn-2"></label>
            <!--  <label for="btn-3"></label> -->
        </div>
        <div class="slider-inner">
            <div class="slider-main">
                <ul class="slide clearfix to-left">
                    <li class="to-left">
                        <div class="opinion-image victory"></div>
                        <div class="description">
                            <h4>Виктория</h4>
                            <p>Опыт игры на гитаре - 2 года</p>
                        </div>
                        <p class="slide-inside">Хотела бы рассказать о своем замечательном преподавателе Денисе Морозове! Очень рада, что когда решила начать учиться играть на гитаре, выбрала именно его. Чтобы быть хорошим преподавателем, нужно быть фанатиком своего дела, и Денис именно такой...
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                    <li class="to-left">
                        <div class="opinion-image pavel"></div>
                        <div class="description">
                            <h4>Павел</h4>
                            <p>Опыт игры на гитаре - 1 год</p>
                        </div>
                        <p class="slide-inside">Хочу рассказать своё впечатление о Денисе очень хороший специалист за небольшое время научил меня многому привил любовь к гитаре мы с ним стремительно идём вперёд мне он очень нравится всем его очень советую !!!!
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                    <li class="to-left">
                        <div class="opinion-image elena-nikitina"></div>
                        <div class="description">
                            <h4>Елена</h4>
                            <p>Опыт игры на гитаре - 0,5 года</p>
                        </div>
                        <p class="slide-inside">Я видимо буду первая, кто напишет не про Дениса )) Моим преподавателем был Николай (фамилии к сожалению не знаю). Коротко - мне всё понравилось. Хорошо объясняет, строит урок в зависимости от потребностей ученика, даёт хорошие рекомендации для отработки техники, терпелив, что для преподавателя важно...
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                </ul>
                <ul class="slide clearfix to-left">
                    <li class="to-left">
                        <div class="opinion-image svetlana"></div>
                        <div class="description">
                            <h4>Светлана</h4>
                            <p>Опыт игры на гитаре - 1 год</p>
                        </div>
                        <p class="slide-inside">Я тоже брала уроки у Дениса Морозова для себя, чтобы просто научиться играть. Хотелось бы отметить, что он очень терпеливый учитель и умеет объяснить даже тем ученикам, которые не имеют никаких представлений о том, как играть на гитаре...
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                    <li class="to-left">
                        <div class="opinion-image elena-makushinsya"></div>
                        <div class="description">
                            <h4>Елена</h4>
                            <p>Опыт игры на гитаре 4 года</p>
                        </div>
                        <p class="slide-inside">Всем привет) меня зовут Елена и на данный момент я играю в рок группе на электрогитаре. Всего четыре года назад для меня это было самой сокровенной мечтой, а помог мне ее осуществить мой первый и самый лучший преподаватель Денис. Нашла я его номер на одном из сайтов, мы поехали и купили мне мою первую классическую гитару)
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                    <li class="to-left">
                        <div class="opinion-image stanislav"></div>
                        <div class="description">
                            <h4>Станислав</h4>
                            <p>Опыт игры на гитаре 1 год</p>
                        </div>
                        <p class="slide-inside">Прежде чем идти учиться у кого-то чему-то, посмотрите что может учитель. Вот я видел и слышал множество раз как играет Денис, у меня даже диск есть. Как говориться найди себе дело по душе и вы не будете работать ни один день. Он не просто учит, он живет музыкой и хочет это передать ученику...
                            <br>
                            <a target="_blank" href="http://vk.com/topic-83207944_32166041">Читать отзыв далее можно здесь</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Закрыли картинки слайдера и текст -->
<!-- Открываем блок с нижней картинкой -->
<div class="guitar-big">
    <div class="layout-center-wrapper-small clearfix">
        <!-- Открыли блок с описанием внутри картинки -->
        <div class="descripton-guitar to-left">
            <h5>А знаете ли Вы, что, используя традиционные методы, 90% новичков бросают игру на гитаре после первых 3-х месяцев?</h5>
        </div>
        <!--закрлыи блок с описанием внутри картинки-->
    </div>
</div>
<!-- Закрываем блок с нижней картинкой -->
<!-- Блок с фотографиями и описанием автора -->
<div class="layout-center-wrapper-small clearfix">
    <div class="author">
        <div class="author-description">
            <div class="author-photo">
                <p class="author-name">Денис Морозов</p>
                <div class="author-photo-bg">
                    <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                    </div>
                </div>
            </div>
            <div class="author-text">
                <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
            </div>
        </div>
        <div class="author-features">
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>7</p>Лет</div>
                    <div class="number-text">Непрерывного преподавательского стажа</div>
                </div>
            </div>
            <!-- Закрыли блок с фотографией и описанием автора -->
            <!-- Блок с достижениями автора -->
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>92</p>
                    </div>
                    <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>10</p>
                    </div>
                    <div class="number-text">Заслуженных наград</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>12</p>Лет</div>
                    <div class="number-text">Занимаюсь музыкой</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>100</p>Часов</div>
                    <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                </div>
            </div>
        </div>
        <div class="author-phone">
            <p class="call">Позвоните прямо сейчас!</p>
            <p class="call-number">8-953-333-49-71</p>
        </div>
    </div>
</div>
{% endblock %}
