{% extends "layout.html" %}
{% block body %}
  
 <div class="layout-center-wrapper clearfix">
        <!--Верстаем блок с особенностями-->
        <ul class="features clearfix">
            <li class="to-left">
                <div class="feature-image clock"></div>
                <p class="feature-inside">Наш девиз - минимум затрат и максимум эффекта. Мы знаем, как научить любого ученика достичь желаемого результата за максимально короткий срок.</p>
                <a class="btn" href="#">Lorem ipsum</a>
            </li>
            <li class="to-left">
                <div class="feature-image hat"></div>
                <p class="feature-inside">Мы разработали уникальную систему образования, которой нет аналогов в нашем городе. Вы сами можете выбрать удобный для Вас курс и время обучения.</p>
                <a class="btn" href="#">Lorem ipsum</a>
            </li>
            <li class="to-left">
                <div class="feature-image guitar"></div>
                <p class="feature-inside">20% теории и 80% практики! Интересные и профессиональные преподаватели с удовольствием откроют Вам дверь в безграничный мир музыки. </p>
                <a class="btn" href="#">Lorem ipsum</a>
            </li>
        </ul>
        <!-- Закрыли блок с особенностями -->
    </div>
    <!-- Верстаем слайдер -->
    <div class="slider">
        <div class="layout-center-wrapper clearfix">
            <div class="opinions">
                <h3>Отзывы учеников</h3>
                <p>Отзывы моих учеников помогут Вам ознакомиться с качеством моего обучения</p>
            </div>
            <input type="radio" id="btn-1" name="toggle" checked>
            <input type="radio" id="btn-2" name="toggle">
            <input type="radio" id="btn-3" name="toggle">
            <div class="slider-controls">
                <label for="btn-1"></label>
                <label for="btn-2"></label>
                <label for="btn-3"></label>
            </div>
            <div class="slider-inner">
                <div class="slider-main">
                    <ul class="slide clearfix to-left">
                        <li class="to-left">
                            <div class="opinion-image mary"></div>
                            <div class="description">
                                <h4>Маша.Г.Ч</h4>
                                <p>Опыт игры на гитаре 4 года</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi error ipsam blanditiis nesciunt voluptatibus eum quasi, impedit labore unde culpa libero, repellat tempore numquam saepe aperiam. Magni ad perspiciatis deleniti.</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image robert"></div>
                            <div class="description">
                                <h4>Роберт.А.Ф.</h4>
                                <p>Опыт игры на гитаре 1 год</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse culpa voluptas, officia quod vitae alias ab doloribus dolores voluptates ex, eligendi, deleniti sequi numquam! Culpa, dolore, corporis! Possimus, vitae, dolorem!</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image slava"></div>
                            <div class="description">
                                <h4>Ярослав.В.И.</h4>
                                <p>Опыт игры на гитаре 12 лет</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quas nostrum labore perferendis reprehenderit, quos laborum accusamus amet accusantium perspiciatis possimus sint ad eaque animi fuga officia pariatur, natus libero?</p>
                        </li>
                    </ul>
                    <ul class="slide clearfix to-left">
                        <li class="to-left">
                            <div class="opinion-image mary"></div>
                            <div class="description">
                                <h4>Маша.Г.Ч</h4>
                                <p>Опыт игры на гитаре 4 года</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi error ipsam blanditiis nesciunt voluptatibus eum quasi, impedit labore unde culpa libero, repellat tempore numquam saepe aperiam. Magni ad perspiciatis deleniti.</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image robert"></div>
                            <div class="description">
                                <h4>Роберт.А.Ф.</h4>
                                <p>Опыт игры на гитаре 1 год</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse culpa voluptas, officia quod vitae alias ab doloribus dolores voluptates ex, eligendi, deleniti sequi numquam! Culpa, dolore, corporis! Possimus, vitae, dolorem!</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image slava"></div>
                            <div class="description">
                                <h4>Ярослав.В.И.</h4>
                                <p>Опыт игры на гитаре 12 лет</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quas nostrum labore perferendis reprehenderit, quos laborum accusamus amet accusantium perspiciatis possimus sint ad eaque animi fuga officia pariatur, natus libero?</p>
                        </li>
                    </ul>
                    <ul class="slide clearfix to-left">
                        <li class="to-left">
                            <div class="opinion-image mary"></div>
                            <div class="description">
                                <h4>Маша.Г.Ч</h4>
                                <p>Опыт игры на гитаре 4 года</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi error ipsam blanditiis nesciunt voluptatibus eum quasi, impedit labore unde culpa libero, repellat tempore numquam saepe aperiam. Magni ad perspiciatis deleniti.</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image robert"></div>
                            <div class="description">
                                <h4>Роберт.А.Ф.</h4>
                                <p>Опыт игры на гитаре 1 год</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse culpa voluptas, officia quod vitae alias ab doloribus dolores voluptates ex, eligendi, deleniti sequi numquam! Culpa, dolore, corporis! Possimus, vitae, dolorem!</p>
                        </li>
                        <li class="to-left">
                            <div class="opinion-image slava"></div>
                            <div class="description">
                                <h4>Ярослав.В.И.</h4>
                                <p>Опыт игры на гитаре 12 лет</p>
                            </div>
                            <p class="slide-inside">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quas nostrum labore perferendis reprehenderit, quos laborum accusamus amet accusantium perspiciatis possimus sint ad eaque animi fuga officia pariatur, natus libero?</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Закрыли картинки слайдера и текст -->
    <!-- Открываем блок с нижней картинкой -->
    <div class="guitar-big">
        <div class="layout-center-wrapper-small clearfix">
            <!-- Открыли блок с описанием внутри картинки -->
            <div class="descripton-guitar to-left">
                <h5>А знаете ли Вы, что, используя традиционные методы, 90% новичков бросают игру на гитаре после первых 3-х месяцев?</h5>
            </div>
            <!--закрлыи блок с описанием внутри картинки-->
        </div>
    </div>
    <!-- Закрываем блок с нижней картинкой -->
    <!-- Блок с фотографиями и описанием автора -->
    <div class="layout-center-wrapper-small clearfix">
        <div class="author">
            <div class="author-description">
                <div class="author-photo">
                    <p class="author-name">Денис Морозов</p>
                    <div class="author-photo-bg">
                        <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                        </div>
                    </div>
                </div>
                <div class="author-text">
                    <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
                </div>
            </div>
            <div class="author-features">
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>7</p>Лет</div>
                        <div class="number-text">Доцент музыкального института</div>
                    </div>
                </div>
                <!-- Закрыли блок с фотографией и описанием автора -->
                <!-- Блок с достижениями автора -->
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>92</p>
                        </div>
                        <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>10</p>
                        </div>
                        <div class="number-text">Заслуженных наград</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>15</p>Лет</div>
                        <div class="number-text">Занимаюсь музыкой</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>100</p>Часов</div>
                        <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                    </div>
                </div>
            </div>
            <div class="author-phone">
                <p class="call">Позвоните прямо сейчас!</p>
                <p class="call-number">8-953-333-49-71</p>
            </div>
        </div>
    </div>
{% endblock %}