<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Курсы гитары в Калуге </title>
    <link href="{{ url_for('static', filename='img/guitar.ico') }}" type="image/ico" rel="shortcut icon">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="layout-center-wrapper clearfix">
            <!-- Открываем центровщик -->
            <nav>
                <ul class="menu to-left">
                   {% set navigation = [
                      ('index', 'Главная'),
                      ('price', 'Цены'),
                      ('feedback', 'Отзывы'),
                      ('contact', 'Контакты'),
                    ] -%}
                    {% for url, title in navigation %}
                    <li><a{% if request.url_rule.endpoint == url %} class="active-blue"{% endif %} href="/{% if url != "index" %}{{ url }}{% endif %}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- Закрыли меню -->
                <!-- Верстаем правую верхнюю форму с контактами -->
                <div class="contact-right to-right">
                    <p>8 (953) 333-49-71</p>
                    <p>Телефон для связи</p>
                </div>
                <!--Закрыли форму с контактами  -->
            </nav>
        </div>
        <!-- Закрыли центровщик -->
        <!--Верстаем главную картинку сайта-->
    {% if index %}
        <div class="main-picture-index">
    {% else %}
        <div class="main-picture">
    {% endif %}
            <div class="layout-center-wrapper clearfix">
                <!-- Блок с предложением -->
                <div class="big-supply clearfix">
                    <div class="info-left to-left" href="#">
                        <h3>Курсы</h3>
                        <p>игры на гитаре</p>
                    </div>
                    <a class="info-right to-right" href="#">
                        <p>Записаться на курсы можно прямо сейчас</p>
                    </a>
                </div>
                <!-- Закрыли блок с предложениями -->
            </div>
        </div>
        <!--  Закрыли главную картинку-->
    </header>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
        
    <!--Верстаем блок футера-->
    <footer>
        <div class="layout-center-wrapper clearfix">
            <!-- Верстаем три колонки футера -->
            <div class="footer-column clerfix to-left">
                <h3>Гитара в Калуге</h3>
                <p>Первый образовательный проект в Калуге, посвященный гитаре. Интересные курсы,познавательная программа, направленные на развитие культурной среды. Давайте сделаем этот город лучше вместе!</p>
            </div>
            <div class="footer-column to-left">
                <p>Связь с нами. Мы всегда рады вашему звонку.
                Звонить в будние дни с 9-00 до 21-00. В выходные с 10-00 до 19-00. </p>
                <div class="footer-phones-all clearfix">
                    <ul class="footer-middle phones-kinds to-left">
                        <li>Мобильный</li>
                        <li>Рабочий</li>
                        <li>Почта</li>
                    </ul>
                    <ul class="footer-middle phones-numbers to-right">
                        <li>8-953-333-49-71</li>
                        <li>8-659-264-45-86</li>
                        <li> info@guitar40.ru</li>
                    </ul>
                </div>
            </div>
            <div class="footer-column to-left">
                <p>Связь с нами в социальных сетях. </p>
                <div class="social-buttons">
                <p>Пишите в <a target="_blank" href="http://vk.com/guitar40">нашу группу в контакте.</a></p>
                <p>Будем рады видеть Вас в нашей дружной компании!</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Форма связи -->
    <div class="write-us">
        <div class="cross-close write-us-close"><img src="{{ url_for('static', filename='img/cross.png') }}" width="21" height="21" alt="CROSS"></div>
        <form class="contact-form-on-button" action="/send" method="post">
            <h3>Оставьте заявку, Ваш номер телефона и мы ответим Вам течении часа!</h3>
            <div class="half-width">
                <label for="name-field" class="contact-name">Ваше имя:</label>
                <input type="text" name="login" id="name-field" placeholder="Представьтесь, пожалуйста" required>
            </div>
            <div class="half-width">
                <label for="post-field" class="contact-mail">Ваш e-mail:</label>
                <input type="email" name="email" id="post-field" placeholder="Для отправки ответа" required>
            </div>
            <div class="half-width">
            <label for="course-field" class="contact-name">Интересующий курс</label>
                <select name="choice-of-course" id="course-field">
                    <option value="choice">Выберите курс обучения</option>
                    <option value="base">Базовый курс</option>
                    <option value="accompaniment">Курс аккомпанемента</option>
                    <option value="electric-guitar">Проф-курс электрогитары</option>
                    <option value="virtuoso">Проф-курс для виртуозов</option>
                    </select>
            </div>
            <div class="half-width">
                <label for="phone-field" class="phone">Ваш номер телефона:</label>
                <input type="tel" name="number" id="phone-field" placeholder="Для обратного звонка" required>
            </div>
            <label for="text-field">Текст сообщения:</label>
            <textarea placeholder="Можете задать все интересующие Вас вопросы, мы с радостью на них ответим" name="contact-text" id="text-field" rows="4"></textarea>
            <div class="contact-buttons">
                <input class="btn form-submit-btn" type="submit" value="Отправить">
                <input class="btn form-esc-btn" type="reset" value="Отмена">
            </div>
        </form>
    </div>
    <!-- Закончили форму связи -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Статистика сайта -->
    <script>
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.guitar40.ru"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u="//stat.z-gu.ru/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 22]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//stat.z-gu.ru/piwik.php?idsite=22" style="border:0;" alt="" /></p></noscript>
    <!-- Конец кода статистики -->
</body>
</html>
