{% extends "layout.html" %}
{% block body %}
<div class="layout-center-wrapper clearfix">
        <div class="description-choice-price">
            <h2>Цены и тарифы на курсы</h2>
            <p>Выберите подходящий себе тариф</p>
        </div>
        <!--Верстаем 4 блока с ценами-->
        <div class="main-price-block clearfix">
            <div class="column">
                <h3>Базовый курс (Начальный)</h3>
                <ul class="list">
                    <li>Курс больше подходит для новичков</li>
                    <li>от 6 до 8 месяцев для постановки навыка</li>
                    <li>Минимум необходимой теории</li>
                    <li>Уверенное владение инструментом</li>
                    <li>Хорошая база для дальнейшего обучения</li>
                </ul>
                <p class="price">.- 4.800</p>
            </div>
            <div class="column">
                <h3> Курс<br> аккомпанемента</h3>
                <ul class="list">
                    <li>Для тех,кто хочет научиться петь под гитару</li>
                    <li>от 3 до 4 месяцев для постановки навыка</li>
                    <li>Только практика</li>
                    <li>Сможете спеть любую любимую песню</li>
                    <li>Станете душой любой компании</li>
                </ul>
                <p class="price">.- 5.000</p>
            </div>
            <div class="column">
                <h3>Проф-курс электрогитары</h3>
                <ul class="list">
                    <li>Для тех, кто хочет отрываться по-взрослому</li>
                    <li>от 6 до 8 месяцев для постановки навыка</li>
                    <li>Обучение по зарубежным методикам</li>
                    <li>Учим гармонию, импровизацию и многое другое</li>
                    <li>Бары и танцплощадки ждут Вас</li>
                </ul>
                <p class="price">.- 6.000</p>
                         </div>
            <div class="column">
                <h3>Проф-курс классической гитары</h3>
                <ul class="list">
                    <li>Углубленный курс игры на гитаре</li>
                    <li>от 8 до 12 месяцев для постановки навыка</li>
                    <li>Бах и Моцарт на гитаре - это реально!</li>
                    <li>Развитие пальцевой беглости</li>
                    <li>Уровень студента муз. училища</li>
                </ul>
                <p class="price">.- 6.000</p>
            </div>
        </div>
        <!-- Закрыли блоки -->
        <div class="description-price-bottom">
            <p>* Длительность курса может варьироваться в зависимости от уровня ученика</p>
        </div>
        <div class="column-text clearfix">
            <div class="text-column-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur minima beatae, iure harum ex? Nam omnis beatae, maiores distinctio corporis molestiae laudantium ipsum eaque, expedita maxime similique, pariatur quo nemo.</p>
            </div>
            <div class="text-column-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam expedita alias nesciunt tempora dicta qui, placeat officiis vero magnam soluta, vitae similique. Itaque aspernatur, porro eveniet quidem maxime molestiae officia.</p>
            </div>
            <div class="text-column-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium asperiores quos blanditiis maiores reiciendis suscipit inventore optio hic. Vero incidunt nemo rem ea voluptatum, corrupti praesentium qui repellendus aliquid.</p>
            </div>
            <div class="text-column-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod minima commodi saepe aspernatur, eaque, assumenda, omnis reiciendis, voluptatum et suscipit corporis placeat sunt? Commodi expedita voluptatum est dolores aliquid voluptatem.</p>
            </div>
        </div>
    </div>
    <!-- Открываем блок с нижней картинкой -->
    <div class="guitar-big-price">
        <div class="layout-center-wrapper-small clearfix">
            <!-- Открыли блок с описанием внутри картинки -->
            <div class="descripton-guitar-price to-left">
                <h5>А знаете ли Вы, что, 50% музыкантов, играющих на гитаре, не умеют правильно ее держать?</h5>
            </div>
            <!--закрлыи блок с описанием внутри картинки-->
        </div>
    </div>
    <!-- Закрываем блок с нижней картинкой -->
    <!-- Блок с фотографиями и описанием автора -->
    <div class="layout-center-wrapper-small clearfix">
        <div class="author">
            <div class="author-description">
                <div class="author-photo">
                    <p class="author-name">Денис Морозов</p>
                    <div class="author-photo-bg">
                        <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                        </div>
                    </div>
                </div>
                <div class="author-text">
                    <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
                </div>
            </div>
            <div class="author-features">
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>7</p>Лет</div>
                        <div class="number-text">Доцент музыкального института</div>
                    </div>
                </div>
                <!-- Закрыли блок с фотографией и описанием автора -->
                <!-- Блок с достижениями автора -->
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>142</p>
                        </div>
                        <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>15</p>
                        </div>
                        <div class="number-text">Заслуженных наград</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>23</p>Года</div>
                        <div class="number-text">Занимаюсь музыкой</div>
                    </div>
                </div>
                <div class="author-features-wrapper">
                    <div class="author-features-numbers">
                        <div class="number">
                            <p>48</p>Часов</div>
                        <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                    </div>
                </div>
            </div>
            <div class="author-phone">
                <p class="call">Позвоните прямо сейчас!</p>
                <p class="call-number">8-953-333-49-71</p>
            </div>
        </div>
    </div>
{% endblock %}


    
    