{% extends "layout.html" %} {% block body %}
<div class="layout-center-wrapper clearfix">
    <div class="description-choice-price">
        <h2>Цены и тарифы на курсы</h2>
        <p>Выберите подходящий себе тариф</p>
    </div>
    <!--Верстаем 4 блока с ценами-->
    <div class="main-price-block clearfix">
        <div class="column">
            <h3>Базовый курс (Начальный)</h3>
            <ul class="list">
                <li>Курс больше подходит для новичков</li>
                <li>от 6 до 8 месяцев для постановки навыка</li>
                <li>Минимум необходимой теории</li>
                <li>Уверенное владение инструментом</li>
                <li>Хорошая база для дальнейшего обучения</li>
            </ul>
            <p class="price">.- 4.000</p>
        </div>
        <div class="column">
            <h3> Курс<br> аккомпанемента</h3>
            <ul class="list">
                <li>Хотите петь под гитару? Легко!</li>
                <li>от 3 до 4 месяцев для постановки навыка</li>
                <li>Только практика, практика, практика</li>
                <li>Сможете спеть любую любимую песню</li>
                <li>Станете душой любой компании</li>
            </ul>
            <p class="price">.- 4.400</p>
        </div>
        <div class="column">
            <h3>Проф-курс электрогитары</h3>
            <ul class="list">
                <li>Хочешь оторваться по-взрослому? Вперед!</li>
                <li>от 6 до 8 месяцев для постановки навыка</li>
                <li>Обучение по зарубежным методикам</li>
                <li>Блюз, рок, импровизация ждут тебя</li>
                <li>Бары и танцплощадки ждут Вас</li>
            </ul>
            <p class="price">.- 4.800</p>
        </div>
        <div class="column">
            <h3>Проф-курс для виртуозов</h3>
            <ul class="list">
                <li>Углубленный курс игры на гитаре</li>
                <li>от 8 до 12 месяцев для постановки навыка</li>
                <li>Бах и Моцарт на гитаре - это реально!</li>
                <li>Развитие пальцевой беглости</li>
                <li>Уровень студента муз. училища</li>
            </ul>
            <p class="price">.- 5.000</p>
        </div>
    </div>
    <!-- Закрыли блоки -->
    <div class="description-price-bottom">
        <p>* Длительность курса может варьироваться в зависимости от уровня ученика</p>
    </div>
    <div class="column-text clearfix">
        <div class="text-column-bottom">
            <p>Базовый курс знакомит Вас с гитарой и с музыкой в целом. На нем мы расскажем Вам о том, что такое нотная грамота, как строятся аккорды и многое другое. Вы научитесь исполнять сольные произведения, читать с листа, поиграете пальцами и медиатором.</p>
        </div>
        <div class="text-column-bottom">
            <p>Этот курс больше подходит людям, которые хотят просто научиться аккомпанировать сами себе (петь под гитару, играть ритм-партии). Особое внимание здесь уделяется игре по аккордам, как попадать своим голосом в такт и ритм песни.</p>
        </div>
        <div class="text-column-bottom">
            <p>Продвинутый курс электрогитары больше подходит для людей, которые уже имеют навыки игры на гитаре. Здесь Вы отрабатываете и шлифуете такие технические элементы, как тэппинг, двуручный тэппинг, свободная импровизация и другое.</p>
        </div>
        <div class="text-column-bottom">
            <p>Курс отчасти пересекается в теоретической части с курсом электрогитары. Этот курс подходит тем,кто хочет играть красивые мажорные и минорные мелодии, музыку Баха, Моцарта, Листа, Гомеса и других композиторов.</p>
        </div>
    </div>
</div>
<!-- Открываем блок с нижней картинкой -->
<div class="guitar-big-price">
    <div class="layout-center-wrapper-small clearfix">
        <!-- Открыли блок с описанием внутри картинки -->
        <div class="descripton-guitar-price to-left">
            <h5>А знаете ли Вы, что, 50% музыкантов, играющих на гитаре, не умеют правильно ее держать?</h5>
        </div>
        <!--закрлыи блок с описанием внутри картинки-->
    </div>
</div>
<!-- Закрываем блок с нижней картинкой -->
<!-- Блок с фотографиями и описанием автора -->
<div class="layout-center-wrapper-small clearfix">
    <div class="author">
        <div class="author-description">
            <div class="author-photo">
                <p class="author-name">Денис Морозов</p>
                <div class="author-photo-bg">
                    <div class="photo"><img src="{{ url_for('static', filename='img/me.jpg') }}" width="220" height="192" alt="Denis-Morozov">
                    </div>
                </div>
            </div>
            <div class="author-text">
                <p>Здравствуйте, меня зовут Денис. Я являюсь основателем и преподавателем проекта "Гитара в Калуге". За почти что 10-летний срок своей преподавательской деятельности я воспитал около 100 учеников. Я и моя команда преподавателей хотим открыть и показать удивительный мир гитары в нашем прекрасном городе.</p>
            </div>
        </div>
        <div class="author-features">
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>7</p>Лет</div>
                    <div class="number-text">Непрерывного преподавательского стажа</div>
                </div>
            </div>
            <!-- Закрыли блок с фотографией и описанием автора -->
            <!-- Блок с достижениями автора -->
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>92</p>
                    </div>
                    <div class="number-text">Моих ученика профессионально играют на гитаре</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>10</p>
                    </div>
                    <div class="number-text">Заслуженных наград</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>12</p>Лет</div>
                    <div class="number-text">Занимаюсь музыкой</div>
                </div>
            </div>
            <div class="author-features-wrapper">
                <div class="author-features-numbers">
                    <div class="number">
                        <p>100</p>Часов</div>
                    <div class="number-text">Необходимо, и Вы будете красиво играть</div>
                </div>
            </div>
        </div>
        <div class="author-phone">
            <p class="call">Позвоните прямо сейчас!</p>
            <p class="call-number">8-953-333-49-71</p>
        </div>
    </div>
</div>
{% endblock %}
