/*fonts*/


/* font-family: "MyriadProRegular"; */

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "SegoeUIRegular"; */

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*--STYLE--*/

/*Верстка первой страницы*/
body {
    background-color: #fff;
    font-size: 16px;
    font-family: "MyriadProRegular", "Arial", sans-serif;
    color: #7D7D7D;
}

.layout-center-wrapper {
    position: relative;
    margin: 0px auto;
    width: 1286px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    min-height: 99px;
}

.menu {
    min-height: 99px;
    min-width: 731px;
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
}

.menu li {
    vertical-align: baseline;
    font-size: 14px;
    display: inline-block;
    font-family: "MyriadProRegular", "Arial", sans-serif;
}

.menu a {
    color: #7D7D7D;
    text-decoration: none;
    display: block;
    padding: 41px 0px 2px 0;
    margin-right: 53px;
    border-bottom: 2px solid #797979;
    letter-spacing: 1px;
}

.main-page {
    position: relative;
    margin-left: 15px;
}

.main-page::before {
    position: absolute;
    content: "";
    width: 65px;
    border-bottom: 7px solid #1515bf;
    left: -22px;
    top: 59px;
    margin-left: 20px;
}

.contact-right {
    margin-right: 49px;
}

.contact-right p:first-child {
    font-size: 1.56em;
    margin-top: 30px;
    padding-left: 0px;
}

.contact-right p:last-child {
    font-size: 15px;
    margin-top: -25px;
    padding-left: 37px;
}

.main-picture {
    background: url("../img/start-pic.jpg")no-repeat 50% 50%;
    height: 844px;
    background-size: cover;
    min-width: 1285px;
}

.big-supply {
    width: 795px;
    min-height: 121px;
    float: left;
    bottom: 462px;
    margin-top: 210px;
}


/* Вспомогательные классы*/

.to-left {
    float: left;
}

.to-right {
    float: right;
}


/*Вспомогательные классы*/

.info-left {
    width: 329px;
    display: block;
    color: #fff;
    text-decoration: none;
    min-height: 120px;
    margin-right: 5px;
    font-family: "SegoeUIRegular", "Arial", sans-serif;
}

.info-left h3 {
    font-size: 6.375em;
    font-weight: bold;
    margin-bottom: -43px;
    margin-top: 0px;
    text-transform: uppercase;
}

.info-left p {
    font-size: 2.48em;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 43px;
    text-transform: uppercase;
}

.info-right {
    width: 440px;
    display: block;
    color: #fff;
    text-decoration: none;
    border: 5px solid white;
    font-size: 1.96em;
    padding-left: 7px;
    text-transform: uppercase;
    font-family: "SegoeUIRegular", "Arial", sans-serif;
    font-weight: 700;
    margin-top: 34px;
    text-transform: uppercase;
    height: 137px;
}

.features {
    color: #fff;
    width: 1286px;
    padding: 0;
    margin-top: 148px;
    margin-bottom: 191px;
    list-style: none;
}

.features li {
    width: 335px;
    text-align: center;
    margin-right: 140px;
    display: block;
}

.features li:first-child {
    margin-left: 0;
}

.features li:last-child {
    margin-right: 0;
}

.feature-inside {
    display: block;
    font-size: 15px;
    color: #878787;
    letter-spacing: 1px;
    margin-bottom: 52px;
}

.feature-image {
    background: url("../img/sprite-1.png") no-repeat -1% 46%;
    height: 75px;
    margin: 0 auto;
    width: 91px;
}

.hat {
    background: url("../img/sprite-1.png") no-repeat 52% 46%;
}

.guitar {
    background: url("../img/sprite-1.png") no-repeat 102% 46%;
}

.btn {
    width: 118px;
    background: #0e0e8a;
    color: #fff;
    line-height: 18px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 118px;
    text-decoration: none;
    height: 17px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 1px;
    display: block;
}

.btn:hover {
    background: #1515bf;
}

.btn:active {
    background: #1515bf;
}

.slider {
    position: relative;
    background: #f2f2f2;
    min-width: 1286px;
    min-height: 800px;
}

.slide {
    color: #fff;
    width: 1286px;
    padding: 0;
    margin-top: 85px;
    margin-bottom: 112px;
    list-style: none;
    display: block;
}

.slide li {
    width: 335px;
    text-align: center;
    margin-right: 140px;
    display: block;
}

.slide li:first-child {
    margin-left: 0;
}

.slide li:last-child {
    margin-right: 0;
}

.slide-inside {
    display: block;
    font-size: 15px;
    color: #878787;
    letter-spacing: 1px;
    margin-bottom: 42px;
    padding-top: 24px;
}

.slider-main {
    -webkit-transition: -webkit-transform 3s;
    transition-timing-function: ease-in-out;
    transition-delay: .5s;
    width: 300%;
}

.slider-inner {
    overflow: hidden;
}

.opinion-image {
    height: 260px;
    width: 326px;
    margin: 0 auto;
    background: url("../img/opininons/mary.jpg") no-repeat 50% 50%;
}

.robert {
    background: url("../img/opininons/robert.jpg") no-repeat 50% 50%;
}

.slava {
    background: url("../img/opininons/slava.jpg") no-repeat 50% 50%;
}

.slider-controls {
    position: absolute;
    left: 50%;
    height: 25px;
    width: 80px;
    z-index: 5;
    top: 759px;
    background: #f2f2f2;
    text-align: center;
    margin-left: -30px;
}

.slider-controls label {
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 18px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}

input[id^="btn-"] {
    display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #484848;
}

#btn-1:checked ~ .slider-inner .slider-main {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-main {
    -webkit-transform: translate(-1286px);
    -ms-transform: translate(-1286px);
    transform: translate(-1286px);
}

#btn-3:checked ~ .slider-inner .slider-main {
    -webkit-transform: translate(-2572px);
    -ms-transform: translate(-2572px);
    transform: translate(-2572px);
}

.description h4 {
    text-transform: uppercase;
    color: #5f5f5f;
    text-align: center;
    font-weight: 600;
    font-size: 1.25em;
}

.description p {
    color: #767676;
    font-size: 14.45px;
    margin-top: -21px;
    margin-bottom: 43px;
}

.description {
    position: relative;
}

.description::after {
    position: absolute;
    content: "";
    background: url("../img/pointer.png") no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    top: 67px;
}

.opinions h3 {
    text-transform: uppercase;
    color: #787878;
    font-size: 1.6875em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    font-family: "SegoeUIRegular", "Arial", sans-serif;
    margin-bottom: 13px;
    margin-top: 40px;
}

.opinions p {
    font-size: 15px;
    color: #787878;
    text-align: center;
    padding-left: 486px;
    padding-right: 479px;
    margin-bottom: 1px;
}

.guitar-big {
    background-size: cover;
    background: url("../img/guitar-picture.jpg") no-repeat 50% 50%;
    min-width: 1285px;
    height: 422px;
}

.descripton-guitar {
    border: 3px solid #fff;
    height: 226px;
    width: 816px;
    margin-top: 90px;
}

.descripton-guitar h5 {
    color: #fff;
    font-size: 2.4em;
    margin-top: 35px;
    text-align: center;
}

.layout-center-wrapper-small {
    width: 820px;
    margin: 0 auto;
    position: relative;
}

.author {
    min-height: 850px;
    margin-top: 115px;
    margin-bottom: -42px;
}

.author-description {
    min-height: 290px;
    margin-bottom: 42px;
}

.author-name {
    font-size: 1.5em;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 143px;
}

.photo {
    width: 220px;
    margin: 0 auto;
}

.author-features {
    min-height: 163px;
    margin-bottom: 162px;
}

.number {
    width: 85px;
    height: 80px;
    text-align: center;
    border: 4px solid #ececec;
    margin: 0 auto;
}

.number p {
    font-size: 3.125em;
    color: #454545;
    margin-top: -3px;
    margin-bottom: -4px;
}

.author-features-numbers {
    display: inline-block;
}

.number-text {
    font-size: 14px;
    color: #1e1e1e;
    padding-left: -3px;
    margin: 0 auto;
}

.author-features-wrapper {
    width: 124px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    margin-right: 34px;
    text-align: center;
    margin-left: 0px;
}

.author-features-wrapper:last-child {
    margin-right: 0;
}

.author-features-wrapper:first-child {
    margin-left: 24px;
}

.author-phone {
    min-height: 185px;
    text-align: center;
    color: #7c7c7c;
}

.call {
    font-size: 2.9em;
    margin-bottom: 30px;
}

.call-number {
    font-size: 6.4em;
    margin-top: -19px;
    position: relative;
    letter-spacing: 1px;
    padding-left: 92px;
    margin-bottom: 146px;
}

.call-number::before {
    content: "";
    position: absolute;
    background: url("../img/call.png");
    height: 81px;
    width: 81px;
    left: 4px;
    top: 20px;
    margin-right: 0px;
}

footer {
    background-color: #484848;
    min-width: 1284px;
}

.footer-column:last-child {
    margin-right: 0;
    font-style: italic;
}

.footer-column {
    width: 335px;
    margin-right: 140px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
}

.footer-column h3 {
    font-size: 1.56em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer-middle {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 82px;
}

.phones-kinds li {
    font-size: 14px;
    margin-bottom: 11px;
}

.phones-numbers {
    font-size: 20px;
}

.social-buttons {
    width: 200px;
    height: 30px;
    margin-top: 110px;
}

.btn-social {
    display: inline-block;
    color: transparent;
    background: url("../img/social-sprite.png") no-repeat -91px -4px;
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.btn-social:last-child {
    margin-right: 0;
}

.btn-social-fb {
    background-position: -116px -3px;
}

.btn-social-inst {
    background-position: -62px -4px;
}

.btn-social-vk {
    background-position: -140px -4px;
}

.btn-social-lk {
    background-position: -3px -4px;
}

.btn-social-youtube {
    background-position: -33px -2px;
}


/*Верстка страницы с ценами*/

.main-page-grey {
    position: relative;
}

.main-page-grey::before {
    position: absolute;
    content: "";
    width: 41px;
    border-bottom: 7px solid #787878;
    left: -21px;
    top: 59px;
    margin-left: 20px;
}

.main-picture-price {
    background: url("../img/price-main-pic.jpg")no-repeat 50% 50%;
    height: 844px;
    background-size: cover;
    min-width: 1285px;
}

.big-supply {
    width: 795px;
    min-height: 121px;
    float: left;
    bottom: 462px;
    margin-top: 210px;
}

.guitar-big-price {
    background-size: cover;
    background: url("../img/guitar-picture-price.jpg") no-repeat 50% 50%;
    min-width: 1285px;
    height: 422px;
}

.descripton-guitar-price {
    border: 3px solid #fff;
    height: 226px;
    width: 816px;
    margin-top: 90px;
}

.descripton-guitar-price h5 {
    color: #fff;
    font-size: 2.4em;
    margin-top: 35px;
    text-align: center;
}